---
layout: default
---
  
<div class="wrapper">
    
      
      <!-- photo -->
      <div class="row">
          <div class="mod_focus_show" id="divimgplay">
              <ul id="big-photo" class="mod_focus_pic" id="divimginfog_imgPlayer">
                  <li id="wlh" style="display: block;">
                      <a href="">
                        <img src="http://imgcache.qq.com/music/common/product/focus_img/big0720150515234232.jpg" alt="巅峰乐语路王力宏预告" width="700" height="320">
                      </a>
                  </li>
                  <li id="aqgy" style="display: none;">
                      <a href="">
                        <img src="/img/爱情公寓.jpg" alt="巅峰乐语路王力宏预告" width="700" height="320">
                      </a>
                  </li>
                  <li id="aqgy" style="display: none;">
                      <a href="">
                        <img src="/img/DSC_2475.JPG" alt="巅峰乐语路王力宏预告" width="700" height="320">
                      </a>
                  </li>
                  <li id="aqgy" style="display: none;">
                      <a href="">
                        <img src="/img/DSC_2948.JPG" alt="巅峰乐语路王力宏预告" width="700" height="320">
                      </a>
                  </li>
                  <li id="wlh" style="display: none;">
                      <a href="">
                        <img src="http://imgcache.qq.com/music/common/product/focus_img/big0720150515234232.jpg" alt="巅峰乐语路王力宏预告" width="700" height="320">
                      </a>
                  </li>
                  <li id="aqgy" style="display: none;">
                      <a href="">
                        <img src="/img/爱情公寓.jpg" alt="巅峰乐语路王力宏预告" width="700" height="320">
                      </a>
                  </li>
                  <li id="aqgy" style="display: none;">
                      <a href="">
                        <img src="/img/DSC_2475.JPG" alt="巅峰乐语路王力宏预告" width="700" height="320">
                      </a>
                  </li>
                  <li id="aqgy" style="display: none;">
                      <a href="">
                        <img src="/img/DSC_2948.JPG" alt="巅峰乐语路王力宏预告" width="700" height="320">
                      </a>
                  </li>
                  <li id="wlh" style="display: none;">
                      <a href="">
                        <img src="http://imgcache.qq.com/music/common/product/focus_img/big0720150515234232.jpg" alt="巅峰乐语路王力宏预告" width="700" height="320">
                      </a>
                  </li>
                  <li id="aqgy" style="display: none;">
                      <a href="">
                        <img src="/img/爱情公寓.jpg" alt="巅峰乐语路王力宏预告" width="700" height="320">
                      </a>
                  </li>


              </ul>
              
              <ul id="photo-descriotion" class="mod_focus_title" id="ptitleg_imgPlayer">
                  <li class="current"> 
                    <a href="" class="focus_icon_play" style="display:none;" ></a> 
                    <h3>
                        <a href="">王力宏，永远的男神</a>
                    </h3> 
                    <p class=""></p> 
                  </li>
              </ul>


              <div class="focus_switch">
                  <a href="javascript:;" class="icon_prev"></a>
                  <a href="javascript:;" class="icon_next" onclick="test();"></a>
              </div>
              <ul class="mod_focus_list" id="thumb-photo">
                 <li class="">
                      <a href="http://y.qq.com/vip/1qb/index.html" >
                          <img src="http://imgcache.qq.com/music/common/product/focus_img/small0720150515234232.jpg" alt="巅峰乐语路王力宏预告" width="60" height="60"><span class="photo_border"></span><span class="mask"></span>
                      </a>
                  </li>
                  <li class="">
                      <a href="http://y.qq.com/vip/1qb/index.html" >
                          <img src="http://imgcache.qq.com/music/common/product/focus_img/small0720150515234232.jpg" alt="巅峰乐语路王力宏预告" width="60" height="60"><span class="photo_border"></span><span class="mask"></span>
                      </a>
                  </li>
                  <li class="">
                      <a href="http://y.qq.com/vip/1qb/index.html" >
                          <img src="http://imgcache.qq.com/music/common/product/focus_img/small0720150515234232.jpg" alt="巅峰乐语路王力宏预告" width="60" height="60"><span class="photo_border"></span><span class="mask"></span>
                      </a>
                  </li>
                  <li class="">
                      <a href="http://y.qq.com/vip/1qb/index.html" >
                          <img src="http://imgcache.qq.com/music/common/product/focus_img/small0720150515234232.jpg" alt="巅峰乐语路王力宏预告" width="60" height="60"><span class="photo_border"></span><span class="mask"></span>
                      </a>
                  </li>
                  <li class="">
                      <a href="http://y.qq.com/vip/1qb/index.html" >
                          <img src="http://imgcache.qq.com/music/common/product/focus_img/small0720150515234232.jpg" alt="巅峰乐语路王力宏预告" width="60" height="60"><span class="photo_border"></span><span class="mask"></span>
                      </a>
                  </li>
                  <li class="">
                      <a href="http://y.qq.com/vip/1qb/index.html" >
                          <img src="http://imgcache.qq.com/music/common/product/focus_img/small0720150515234232.jpg" alt="巅峰乐语路王力宏预告" width="60" height="60"><span class="photo_border"></span><span class="mask"></span>
                      </a>
                  </li>
                  <li class="">
                      <a href="http://y.qq.com/vip/1qb/index.html" >
                          <img src="http://imgcache.qq.com/music/common/product/focus_img/small0720150515234232.jpg" alt="巅峰乐语路王力宏预告" width="60" height="60"><span class="photo_border"></span><span class="mask"></span>
                      </a>
                  </li>
                  <li class="">
                      <a href="http://y.qq.com/vip/1qb/index.html" >
                          <img src="http://imgcache.qq.com/music/common/product/focus_img/small0720150515234232.jpg" alt="巅峰乐语路王力宏预告" width="60" height="60"><span class="photo_border"></span><span class="mask"></span>
                      </a>
                  </li>
                  <li class="">
                      <a href="http://y.qq.com/vip/1qb/index.html" >
                          <img src="http://imgcache.qq.com/music/common/product/focus_img/small0720150515234232.jpg" alt="巅峰乐语路王力宏预告" width="60" height="60"><span class="photo_border"></span><span class="mask"></span>
                      </a>
                  </li>
                  <li class="">
                      <a href="http://y.qq.com/vip/1qb/index.html" >
                          <img src="http://imgcache.qq.com/music/common/product/focus_img/small0720150515234232.jpg" alt="巅峰乐语路王力宏预告" width="60" height="60"><span class="photo_border"></span><span class="mask"></span>
                      </a>
                  </li>
              </ul>
          </div>
      </div>  

         

      <div class="row">
          <div class="col-xs-7 article-part">
             <div class="row">
                   <div class="music-head">
                     <h3 class="music-header">最近文章</h3>
                   </div>
             </div>
             <div class="table-scroll article-inner-part">
               
                 
                 {% for post in site.posts %}

                       <!-- articles -->
                      {% if post.type == 2 %}
                         <div class="form-inline article-margin">
                           <div class="form-group article-title">
                              <a class="article-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                           </div>
                           <div class="form-group pull-right">
                            <p class="x-small">{{ post.date | date: "%b %-d, %Y" }}</p>
                           </div>
                         </div>
                     {% endif %}

                  {% endfor %}
             </div>
          </div>

           
           <div class="col-xs-5">
               <div class="table-scroll article-inner-part">
                   <div class="row">
                       <div class="music-head">
                         <h3 class="music-header">好歌推荐</h3>
                       </div>
                   </div>
                   

                         <!-- musics -->
                        
                           <!-- <div class="form-inline article-margin">
                             <div class="form-group article-title">
                                <a class="article-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                             </div>
                             <div class="form-group pull-right">
                              <p class="x-small">{{ post.date | date: "%b %-d, %Y" }}</p>
                             </div>
                           </div> -->
                      
                       <div class="row music-part">
                           <div class="col-xs-1 music-index">01.</div>
                           <div class="col-xs-7 music-name">我怀念的</div>
                           <div class="col-xs-4 music-author">孙燕姿</div>
                       </div>
                       <div class="row music-part">
                           <div class="col-xs-1 music-index">02.</div>
                           <div class="col-xs-7 music-name">如果没有你</div>
                           <div class="col-xs-4 music-author">萧敬腾</div>
                       </div>
                       <div class="row music-part">
                           <div class="col-xs-1 music-index">03.</div>
                           <div class="col-xs-7 music-name">活着</div>
                           <div class="col-xs-4 music-author">郝云</div>
                       </div>
                       <div class="row music-part">
                           <div class="col-xs-1 music-index">04.</div>
                           <div class="col-xs-7 music-name">原点</div>
                           <div class="col-xs-4 music-author">蔡健雅</div>
                       </div>
                       <div class="row music-part">
                           <div class="col-xs-1 music-index">05.</div>
                           <div class="col-xs-7 music-name">世界唯一的你</div>
                           <div class="col-xs-4 music-author">曹格</div>
                       </div>
                       <div class="row music-part">
                           <div class="col-xs-1 music-index">06.</div>
                           <div class="col-xs-7 music-name">空白格</div>
                           <div class="col-xs-4 music-author">杨宗纬</div>
                       </div>
                       <div class="row music-part">
                           <div class="col-xs-1 music-index">07.</div>
                           <div class="col-xs-7 music-name">顺其自然</div>
                           <div class="col-xs-4 music-author">黄小琥</div>
                       </div>
                       <div class="row music-part">
                           <div class="col-xs-1 music-index">08.</div>
                           <div class="col-xs-7 music-name">模特</div>
                           <div class="col-xs-4 music-author">李荣浩</div>
                       </div>
                       <div class="row music-part">
                           <div class="col-xs-1 music-index">09.</div>
                           <div class="col-xs-7 music-name">我在人民广场吃炸鸡</div>
                           <div class="col-xs-4 music-author">阿肆</div>
                       </div>
                       <div class="row music-part">
                           <div class="col-xs-1 music-index">10.</div>
                           <div class="col-xs-7 music-name">阴天</div>
                           <div class="col-xs-4 music-author">莫文蔚</div>
                       </div>
                       

                       

               </div>   

           </div>
      </div>
</div>
 






