<header class="site-header">
  
  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    
    <div class="back-music">
      
          <audio id="player" src="" autoplay controls></audio>
              <!-- <input type=button value=暂停 onclick="aaa.pause();">
              <input type=button value=播放 onclick="aaa.play();">
               -->          
    </div>

    <nav class="site-nav">
      
      
      <div class="trigger">

        <!-- {% for cate in site.tab_categories %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ cate }}</a>
        {% endfor %}

        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %} -->


      </div>
    </nav>
    
  </div>
  
</header>
